{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
        <div>
            <p id="scroll-down-hand"><img id="scroll-down-hand-img" src="images/arrow_down_hand.svg" alt="Scroll down hand"></p>
            <p id="scroll-down-text">{{ .Params.scroll_down_hand_text }}</p>
        </div>
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ .Title }} class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}" src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ $parks := where (where .Site.RegularPages "Type" "parks") ".Params.featured" true }}
{{if gt (len $parks) 0}}
<div id="parks" class="strip">
  <div class="container pt-6 pb-6">
    <div class="row justify-content-start">
      {{ $parks := where (where .Site.RegularPages "Type" "parks") ".Params.featured" true }}
      {{ range first 6 (sort $parks ".Params.weight") }}
      <div class="col-12 col-md-4 mb-1">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
    {{ if not .Site.Params.homepage.hide_view_all_services }}
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "parks/" | relURL }}">View All Services</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}

<!-- start artcile -->
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        {{range where .Site.Pages "Type" "=" "sub-content"}}
        <h1 class="title" id="how-to">{{.Title | safeHTML }}</h1>
        <div class="content">{{.Content}}
          <!-- read more button -->
          <div class="next-button">
            <div class="call-box-bottom">
              <a href="parks/sadjankakrala" class="button">explore parks</a>
            </div>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </div>
</div>
<!-- end article -->

{{ end }}

{{ define "footer_js" }}
<!-- start scripts etc -->
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
<!-- end scripts etc. -->
{{ end }}
